<% if (mode == 'queue') { %>
    <h3 style="padding-top: 20px;">Add binding to this queue</h3>
<% } else { %>
    <h3 style="padding-top: 20px;">Add binding from this exchange</h3>
<% } %>
    <form action="#/bindings" method="post">
            <input type="hidden" name="vhost" value="<%= fmt_string(parent.vhost) %>"/>
<% if (mode == 'queue') { %>
            <input type="hidden" name="destination" value="<%= fmt_string(parent.name) %>"/>
<% } else { %>
            <input type="hidden" name="source" value="<%= fmt_string(parent.name) %>"/>
<% } %>
            <table class="form">
<% if (mode == 'queue') { %>
              <tr>
                <th>
                  <label>From exchange:</label>
                </th>
                <td>
                  <input type="hidden" name="destination_type" value="q"/>
                  <input type="text" name="source" value=""/>
                  <span class="mand">*</span>
                </td>
              </tr>
<% } else { %>
              <tr>
                <th>
                  <select name="destination_type" class="narrow">
                    <option value="e">To exchange</option>
                    <option value="q" selected="selected">To queue</option>
                  </select>:
                </th>
                <td>
                  <input type="text" name="destination" value=""/>
                  <span class="mand">*</span>
                </td>
              </tr>
<% } %>
              <tr>
                <th><label>Routing key:</label></th>
                <td><input type="text" name="routing_key" value=""/></td>
              </tr>
              <tr>
                <th><label>Arguments:</label></th>
                <td>
                  <div class="multifield" id="arguments"></div>
<% if (parent.type == 'headers') { %>
            <table class="argument-links">
              <tr>
                <td>Add</td>
                <td>
                  Binding type <span class="help" id="x-match"></span> : <span class="argument-link" field="arguments" key="x-match" type="longstr" val="all">all</span>/<span class="argument-link" field="arguments" key="x-match" type="longstr" val="any">any</span>/<span class="argument-link" field="arguments" key="x-match" type="longstr" val="one">one</span> | <span class="argument-link" field="arguments" key="x-match-order" type="number">Binding order</span> <span class="help" id="x-match-order"></span><br/>
                  Operators <span class="help" id="x-match-operators"></span> : <span class="argument-link" field="arguments" key="x-?eq keyname" type="longstr">EQ</span>/<span class="argument-link" field="arguments" key="x-?ne keyname" type="longstr">NE</span> - <span class="argument-link" field="arguments" key="x-?le keyname" type="number">LE</span> - <span class="argument-link" field="arguments" key="x-?lt keyname" type="number">LT</span> - <span class="argument-link" field="arguments" key="x-?gt keyname" type="number">GT</span> - <span class="argument-link" field="arguments" key="x-?ge keyname" type="number">GE</span> - <span class="argument-link" field="arguments" key="x-?ex" type="longstr" val="keyname">EX</span>/<span class="argument-link" field="arguments" key="x-?nx" type="longstr" val="keyname">NX</span><br/>
                  Stop process <span class="help" id="x-match-stop"></span> : <span class="argument-link" field="arguments" key="x-match-stop" type="longstr" val="ontrue">on true</span>/<span class="argument-link" field="arguments" key="x-match-stop" type="longstr" val="onfalse">on false</span>/<span class="argument-link" field="arguments" key="x-match-stop" type="longstr" val="onany">anyway</span> | <span class="argument-link" field="arguments" key="x-match-force" type="boolean" val="true">Force match</span> <span class="help" id="x-match-force"></span> | <span class="argument-link" field="arguments" key="x-match-dontroute" type="boolean" val="true">Don't route</span> <span class="help" id="x-match-dontroute"></span><br/>
                  Goto binding <span class="help" id="x-match-goto"></span> : <span class="argument-link" field="arguments" key="x-match-goto-ontrue" type="number">on true</span>/<span class="argument-link" field="arguments" key="x-match-goto-onfalse" type="number">on false</span>/<span class="argument-link" field="arguments" key="x-match-goto" type="number">anyway</span><br/>
                  Add dest <span class="help" id="x-match-add"></span> : queue(s) <span class="argument-link" field="arguments" key="x-match-addq-ontrue" type="list">on true</span>/<span class="argument-link" field="arguments" key="x-match-addq-onfalse" type="list">on false</span>/<span class="argument-link" field="arguments" key="x-match-addq" type="list">anyway</span> exchange(s) <span class="argument-link" field="arguments" key="x-match-adde-ontrue" type="list">on true</span>/<span class="argument-link" field="arguments" key="x-match-adde-onfalse" type="list">on false</span>/<span class="argument-link" field="arguments" key="x-match-adde" type="list">anyway</span><br/>
                  Del dest <span class="help" id="x-match-del"></span> : queue(s) <span class="argument-link" field="arguments" key="x-match-delq-ontrue" type="list">on true</span>/<span class="argument-link" field="arguments" key="x-match-delq-onfalse" type="list">on false</span>/<span class="argument-link" field="arguments" key="x-match-delq" type="list">anyway</span> exchange(s) <span class="argument-link" field="arguments" key="x-match-dele-ontrue" type="list">on true</span>/<span class="argument-link" field="arguments" key="x-match-dele-onfalse" type="list">on false</span>/<span class="argument-link" field="arguments" key="x-match-dele" type="list">anyway</span>
                </td>
              </tr>
            </table>
<% } %>
                </td>
              </tr>
            </table>
      <input type="submit" value="Bind"/>
    </form>
