<% if (mode == 'queue') { %>
    <h3 style="padding-top: 20px;">Add binding to this queue</h3>
<% } else { %>
    <h3 style="padding-top: 20px;">Add binding from this exchange</h3>
<% } %>
    <form action="#/bindings" method="post">
            <input type="hidden" name="vhost" value="<%= fmt_string(parent.vhost) %>"/>
<% if (mode == 'queue') { %>
            <input type="hidden" name="destination" value="<%= fmt_string(parent.name) %>"/>
<% } else { %>
            <input type="hidden" name="source" value="<%= fmt_string(parent.name) %>"/>
<% } %>
            <table class="form">
<% if (mode == 'queue') { %>
              <tr>
                <th>
                  <label>From exchange:</label>
                </th>
                <td>
                  <input type="hidden" name="destination_type" value="q"/>
                  <input type="text" name="source" value=""/>
                  <span class="mand">*</span>
                </td>
              </tr>
<% } else { %>
              <tr>
                <th>
                  <select name="destination_type" class="narrow">
                    <option value="e">To exchange</option>
                    <option value="q" selected="selected">To queue</option>
                  </select>:
                </th>
                <td>
                  <input type="text" name="destination" value=""/>
                  <span class="mand">*</span>
                </td>
              </tr>
<% } %>
<% if (parent.type != 'x-open') { %>
              <tr>
                <th><label>Routing key:</label></th>
                <td><input type="text" name="routing_KEY" value=""/></td>
              </tr>
<% } %>
              <tr>
                <th><label>Arguments:</label></th>
                <td>
                  <div class="multifield" id="arguments"></div>
<% if (parent.type == 'x-open') { %>
            <table class="argument-links">
              <tr>
                <td>Add</td>
                <td>
                  Binding type <span class="help" id="x-match"/> : <span class="argument-link" field="arguments" key="x-match" type="string" value="all">all</span>/<span class="argument-link" field="arguments" key="x-match" type="string" value="any">any</span>
                  <br/>
                  <table>
                    <tr>
                      <td style="padding: 3px 2px 0px 0px;">Match operators on :&nbsp;</td>
                      <td style="padding: 0px 0px 0px 2px;">
routing key <span class="help" id="x-?rk"/> : <span class="argument-link" field="arguments" key="x-?rk=" type="string" value="STRING(s)">=</span>/<span class="argument-link" field="arguments" key="x-?rkre" type="string" value="REGEX">re</span>/<span class="argument-link" field="arguments" key="x-?rk!=" type="string" value="STRING(s)">&#8800;</span>/<span class="argument-link" field="arguments" key="x-?rk!re" type="string" value="REGEX">!re</span> | AMQP topic <span class="argument-link" field="arguments" key="x-?rkta" type="string" value="word1.*.word3.#">=</span> <span class="argument-link" field="arguments" key="x-?rktaci" type="string" value="WORD1.*.WORD3.#" style="font-size: x-small; padding-left: 0px;">(ci)</span>/<span class="argument-link" field="arguments" key="x-?rk!ta" type="string" value="word1.*.word3.#">&#8800;</span> <span class="argument-link" field="arguments" key="x-?rk!taci" type="string" value="WORD1.*.WORD3.#" style="font-size: x-small; padding-left: 0px;">(ci)</span>

<br/>headers keys <span class="help" id="x-?hk"/> : <span class="argument-link" field="arguments" key="x-?hkex" type="string" value="KEY(s)">&#8707;</span>/<span class="argument-link" field="arguments" key="x-?hkis KEY" type="string" value="string">str</span><span class="argument-link" field="arguments" key="x-?hk!is KEY" type="string" value="string" style="font-size: x-small; padding-left: 0px;">(!)</span>/<span class="argument-link" field="arguments" key="x-?hkis KEY" type="string" value="number">num</span><span class="argument-link" field="arguments" key="x-?hk!is KEY" type="string" value="number" style="font-size: x-small; padding-left: 0px;">(!)</span>/<span class="argument-link" field="arguments" key="x-?hkis KEY" type="string" value="boolean">bool</span><span class="argument-link" field="arguments" key="x-?hk!is KEY" type="string" value="boolean" style="font-size: x-small; padding-left: 0px;">(!)</span>/<span class="argument-link" field="arguments" key="x-?hk!ex" type="string" value="KEY(s)">&#8708;</span> | values <span class="help" id="x-?hkv"/> : <span class="argument-link" field="arguments" key="x-?hkv&lt; KEY" type="number" value="NUMBER">&lt;</span>/<span class="argument-link" field="arguments" key="x-?hkv&lt;= KEY" type="number" value="NUMBER">&#8804;</span>/<span class="argument-link" field="arguments" key="x-?hkv= KEY" type="string" value="VALUE(s)">=</span>/<span class="argument-link" field="arguments" key="x-?hkvre KEY" type="string" value="REGEX">re</span>/<span class="argument-link" field="arguments" key="x-?hkv!= KEY" type="string" value="VALUE(s)">&#8800;</span>/<span class="argument-link" field="arguments" key="x-?hkv!re KEY" type="string" value="REGEX">!re</span>/<span class="argument-link" field="arguments" key="x-?hkv&gt;= KEY" type="number" value="NUMBER">&#8805;</span>/<span class="argument-link" field="arguments" key="x-?hkv&gt; KEY" type="number" value="NUMBER">&gt;</span>

<br/>properties <span class="help" id="x-?pr"/> : <span class="argument-link" field="arguments" key="x-?prex" type="string" value="PROP(s)">&#8707;</span>/<span class="argument-link" field="arguments" key="x-?pr!ex" type="string" value="PROP(s)">&#8708;</span> | str <span class="argument-link" field="arguments" key="x-?pr= PROP" type="string" value="STRING(s)">=</span>/<span class="argument-link" field="arguments" key="x-?prre PROP" type="string" value="REGEX">re</span>/<span class="argument-link" field="arguments" key="x-?pr!= PROP" type="string" value="STRING(s)">&#8800;</span>/<span class="argument-link" field="arguments" key="x-?pr!re PROP" type="string" value="REGEX">!re</span> | int <span class="argument-link" field="arguments" key="x-?pr&lt; PROP" type="number" value="INT">&lt;</span>/<span class="argument-link" field="arguments" key="x-?pr&lt;= PROP" type="number" value="INT">&#8804;</span>/<span class="argument-link" field="arguments" key="x-?pr= PROP" type="number" value="INT(s)">=</span>/<span class="argument-link" field="arguments" key="x-?pr!= PROP" type="number" value="INT(s)">&#8800;</span>/<span class="argument-link" field="arguments" key="x-?pr&gt;= PROP" type="number" value="INT">&#8805;</span>/<span class="argument-link" field="arguments" key="x-?pr&gt; PROP" type="number" value="INT">&gt;</span>

<br/>datetime <span class="help" id="x-?dt"/> : UTC <span class="argument-link" field="arguments" key="x-?dture" type="string" value="^YYYYMMDD HHmmSS d We$">re</span> / <span class="argument-link" field="arguments" key="x-?dtu!re" type="string" value="^YYYYMMDD HHmmSS d We$">!re</span> | local <span class="argument-link" field="arguments" key="x-?dtlre" type="string" value="^YYYYMMDD HHmmSS d We$">re</span> / <span class="argument-link" field="arguments" key="x-?dtl!re" type="string" value="^YYYYMMDD HHmmSS d We$">!re</span>
                      </td>
                    </tr>
                  </table>
                  Primary destination <span class="help" id="x-maindest"/> : replace by <span class="argument-link" field="arguments" key="x-msg-destq-rk" type="string">queue from msg rk</span> | <span class="argument-link" field="arguments" key="x-del-dest" type="string">delete</span>
                  <br/>
                  Branching logic : <span class="argument-link" field="arguments" key="x-order" type="number" value="INT">binding order</span><span class="help" id="x-order"/> | goto when <span class="help" id="x-goto"/> <span class="argument-link" field="arguments" key="x-goto-ontrue" type="number" value="INT">T</span>/<span class="argument-link" field="arguments" key="x-goto-onfalse" type="number" value="INT">F</span> | stop match when <span class="help" id="x-stop"/> <span class="argument-link" field="arguments" key="x-stop-ontrue" type="string">T</span>/<span class="argument-link" field="arguments" key="x-stop-onfalse" type="string">F</span>
                  <br/>
                  <table>
                    <tr>
                      <td style="padding: 3px 2px 0px 0px;">Routing facilities <span class="help" id="x-routing"/> : &nbsp;</td>
                      <td style="padding: 0px 0px 0px 2px;">
                        add to : queue(s) when
<span class="argument-link" field="arguments" key="x-addq-ontrue" type="string" value="QUEUE(s)">T</span><span class="argument-link" field="arguments" key="x-msg-addq-ontrue" type="string" style="font-size: x-small; padding-left: 0px;">(m)</span><span class="argument-link" field="arguments" key="x-addqre-ontrue" type="string" value="REGEX">re</span><span class="argument-link" field="arguments" key="x-addq!re-ontrue" type="string" value="REGEX">!re</span><span class="argument-link" field="arguments" key="x-msg-addqre-ontrue" type="string" style="font-size: x-small; padding-left: 0px;">(m)</span>
/
<span class="argument-link" field="arguments" key="x-addq-onfalse" type="string" value="QUEUE(s)">F</span><span class="argument-link" field="arguments" key="x-msg-addq-onfalse" type="string" style="font-size: x-small; padding-left: 0px;">(m)</span><span class="argument-link" field="arguments" key="x-addqre-onfalse" type="string" value="REGEX">re</span><span class="argument-link" field="arguments" key="x-addq!re-onfalse" type="string" value="REGEX">!re</span><span class="argument-link" field="arguments" key="x-msg-addqre-onfalse" type="string" style="font-size: x-small; padding-left: 0px;">(m)</span>
 | exchange(s) when
<span class="argument-link" field="arguments" key="x-adde-ontrue" type="string" value="EXCHANGE(s)">T</span><span class="argument-link" field="arguments" key="x-msg-adde-ontrue" type="string" style="font-size: x-small; padding-left: 0px;">(m)</span>
/
<span class="argument-link" field="arguments" key="x-adde-onfalse" type="string" value="EXCHANGE(s)">F</span><span class="argument-link" field="arguments" key="x-msg-adde-onfalse" type="string" style="font-size: x-small; padding-left: 0px;">(m)</span>
                  <br/>
                  del from : queue(s) when
<span class="argument-link" field="arguments" key="x-delq-ontrue" type="string" value="QUEUE(s)">T</span><span class="argument-link" field="arguments" key="x-msg-delq-ontrue" type="string" style="font-size: x-small; padding-left: 0px;">(m)</span><span class="argument-link" field="arguments" key="x-delqre-ontrue" type="string" value="REGEX">re</span><span class="argument-link" field="arguments" key="x-delq!re-ontrue" type="string" value="REGEX">!re</span><span class="argument-link" field="arguments" key="x-msg-delqre-ontrue" type="string" style="font-size: x-small; padding-left: 0px;">(m)</span>
/
<span class="argument-link" field="arguments" key="x-delq-onfalse" type="string" value="QUEUE(s)">F</span><span class="argument-link" field="arguments" key="x-msg-delq-onfalse" type="string" style="font-size: x-small; padding-left: 0px;">(m)</span><span class="argument-link" field="arguments" key="x-delqre-onfalse" type="string" value="REGEX">re</span><span class="argument-link" field="arguments" key="x-delq!re-onfalse" type="string" value="REGEX">!re</span>
<span class="argument-link" field="arguments" key="x-msg-delqre-onfalse" type="string" style="font-size: x-small; padding-left: 0px;">(m)</span>
 | exchange(s) when
<span class="argument-link" field="arguments" key="x-dele-ontrue" type="string" value="EXCHANGE(s)">T</span><span class="argument-link" field="arguments" key="x-msg-dele-ontrue" type="string" style="font-size: x-small; padding-left: 0px;">(m)</span>
/
<span class="argument-link" field="arguments" key="x-dele-onfalse" type="string" value="EXCHANGE(s)">F</span><span class="argument-link" field="arguments" key="x-msg-dele-onfalse" type="string" style="font-size: x-small; padding-left: 0px;">(m)</span>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
<% } %>
                </td>
              </tr>
            </table>
      <input type="submit" value="Bind"/>
    </form>
